%header
  %nav{:class => "main-nav"}
    %a{:class => "main-nav__show", :href => "#"}
      Menu

    %ul{:class => "main-nav__list"}
      %a{:class => "main-nav__hide", :href => "#"}
      %h2
        Menu
      %li{:class => "main-nav__item"}
        %a{:class => "main-nav__link", :href => "/"}
          Home
      %li{:class => "main-nav__item"}
        %a{:class => "main-nav__link", :href => "/forms/browse"}
          Browse Forms
    
  %h1
    Froop

%main
  %h2
    HBFF's Fancy Foodie Blog
